include utils.pug


+validationErrorSummary(errors)
div(id='form-wrapper')
  link(rel='stylesheet' href='/stylesheets/task-form.css')
  form(id='task-form' action='/tasks' method='post')
    a(href='/lists')
      div(id='go-back')
        p Go Back
    div(id='title')
      h1(id='form-header') Create New Task
    input(type='hidden' name='_csrf' value=csrfToken)
    label Task Name *
    input(type='text' name='name' class='list-name' required value=task.name placeholder='Enter a task name')
    label List
    select(name='listId' id='select-list-dropdown')
      each list in lists
        option(value=list.id)= list.name
    label Task Priority
    input(type='number' name='priority' class='task-priority' value=task.priority placeholder='How Important Is This?')
    label Due Date
    input(type='date' name='dueDate' class='task-dueDate' value=task.dueDate)
    label Start Date
    input(type='date' name='startDate' class='task-startDate' value=task.startDate)
    //- label Completed?
    //- input(type='checkbox' name='completed' value=task.completed)
    label Estimated Time
    input(type='number' name='estimatedTime' value=task.estimatedTime)
    label Note
    textarea(name='note' value=task.note id='taskNote')
    button(type='submit' id='sub-button') Submit
  p Required fields are marked with *
